# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Model files
*.pth
*.pt

# Logs
*.log

# Environment variables
.env